<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/microblog.css' />
  </head>
  <body>
    <h1 id="main-title">Hypermedia workflow</h1>
    <%- body %>
  </body>
</html>
