<h2 id="page-title">Workflow <%=wfname%></h2>
<div class="workflow">
  <form class="workflow-execute" action="/workflow/<%=wfname%>/" method="post">
    <p class="buttons">
      <input type="submit" value="Create instance" />
    </p>
  </form>
</div>
