/* (bb) 2012) */


body {
  background-color: Moccasin;
  font-family: sans-serif;
}

div#workflow-tasks ul {
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
}

div#workflow-tasks a {
  float:left;
  width:8em;
  height:2em;
  text-decoration:none;
  color:black;
  font-weight: bold;
  padding:0.2em 0.6em;
  border-right:0px solid black;
  border-left:0px solid black;
  border-top:0px solid black;
  border-bottom:0px solid black;
  margin-bottom:0px;
  margin-top:15px;
}

div#workflow-tasks ul li.task-status-waiting a, 
div#workflow-instances ul li.instance-status-ready a {
    background-color: red;
}

div#workflow-tasks ul li.task-status-running a,
div#workflow-instances ul li.instance-status-running a {
    background-color: Aqua;
}

div#workflow-tasks ul li.task-status-finished a,
div#workflow-instances ul li.instance-status-finished a {
    background-color:YellowGreen;
}

div#workflow-tasks ul li.task-status-waiting a:hover, 
div#workflow-instances ul li.instance-status-ready a:hover {
  background-color:DarkRed;
}

div#workflow-tasks ul li.task-status-running a:hover,
div#workflow-instances ul li.instance-status-running a:hover 
{background-color:DarkCyan;}

div#workflow-tasks ul li.task-status-finished a:hover,
div#workflow-instances ul li.instance-status-finished a:hover 
{background-color:Green;}

div#workflow-tasks ul li {
  display:inline;
}

div#workflow-task-inputs ul, 
div#workflow-task-outputs ul,
div#workflow-instances ul,
div#workflow-data ul {
  float:left;
  width:100%;
  padding:0pt;
  margin:0;
  list-style-type:none;
}

div#workflow-task-inputs a,
div#workflow-task-outputs a,
div#parent-workflow-instance a,
div#workflow-instances a,
div#workflow-data a,
div#workflow-data span.name,
div#workflow-data span.size
{
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:Moccasin;
  background-color:lightblue;
  padding:0.2em 0.6em;
  border-right:1px solid Moccasin;
  border-left:0px solid Moccasin;
  border-top:1px solid Moccasin;
  border-bottom:0px solid Moccasin;
  margin: 0px;
}

div#workflow-data a,
div#workflow-data span.name,
div#workflow-data span.size
{
  background-color: lightblue;
}

div#workflow-task-inputs ul li, 
div#workflow-task-outputs ul li, 
div#workflow-instances ul li, 
div#workflow-data ul li {
  display:inline;
}


div#workflow-task-inputs ul li.data-status-ready a,
div#workflow-task-outputs ul li.data-status-ready a {
    background-color: YellowGreen;
}

div#workflow-task-inputs ul li.data-status-ready a:hover,
div#workflow-task-outputs ul li.data-status-ready a:hover
{background-color:Green;}

div#workflow-task-inputs ul li.data-status-not_ready a,
div#workflow-task-outputs ul li.data-status-not_ready a {
    background-color: Red;
}

div#workflow-task-inputs ul li.data-status-not_ready a:hover,
div#workflow-task-outputs ul li.data-status-not_ready a:hover
{background-color:DarkRed;}

div#parent-workflow-instance a {
  color: black;
  background-color: lightblue;
}

div#parent-workflow-instance a:hover {
  background-color: darkcyan;
}

div#workflow-data a:hover {
  background-color: darkcyan;
}

div#workflow-task-inputs ul li.list-name {
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:black;
  padding:0.2em 0.6em;
  border-right:1px solid Moccasin;
  border-left:0px solid Moccasin;
  border-top:1px solid Moccasin;
  border-bottom:0px solid Moccasin;
  background-color: peru;
  margin: 0px;
}

div#workflow-task-outputs ul li.list-name {
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:black;
  padding:0.2em 0.6em;
  border-left:0px solid Moccasin;
  border-right:1px solid Moccasin;
  border-top:1px solid Moccasin;
  border-bottom:0px solid Moccasin;
  background-color: peru;
  margin: 0px;
}

div#workflow-data ul li.list-name {
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:black;
  padding:0.2em 0.6em;
  border-left:0px solid Moccasin;
  border-right:1px solid Moccasin;
  border-top:1px solid Moccasin;
  border-bottom:0px solid Moccasin;
  background-color: peru;
  margin: 0px;
}

div#workflow-instances ul li.list-name {
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:black;
  padding:0.2em 0.6em;
  border-left:0px solid Moccasin;
  border-right:1px solid Moccasin;
  border-top:1px solid Moccasin;
  border-bottom:0px solid Moccasin;
  background-color: peru;
  margin: 0px;
}


.button {
  float:left;
  width:10em;
  height:4em;
  text-decoration:none;
  padding:0.2em 0.6em;
  border-right:1px solid Moccasin;
  border-left:0px solid Moccasin;
  border-top:1px solid Moccasin;
  border-bottom:0px solid Moccasin;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-weight:bold;
	text-shadow:1px 1px 0px #528ecc;
	white-space:normal;
	vertical-align:middle;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}

.button:active {
	position:relative;
	top:1px;
	cursor: pointer;
}
