/* Designing Hypermedia APIs by Mike Amundsen (2011) */

body {
  background-color: #FFFFCC;
  font-family: sans-serif;
}

div#workflow-tasks ul {
  float:left;
  width:100%;
  padding:0;
  margin:0;
  list-style-type:none;
}

div#workflow-tasks a {
  float:left;
  width:8em;
  text-decoration:none;
  color:black;
  font-weight: bold;
  padding:0.2em 0.6em;
  border-right:0px solid black;
  border-left:0px solid black;
  border-top:0px solid black;
  border-bottom:0px solid black;
  margin-bottom:2px;
  margin-top:15px;
}

div#workflow-tasks ul li.task-status-waiting a {
    background-color: red;
}

div#workflow-tasks ul li.task-status-running a {
    background-color: Aqua;
}

div#workflow-tasks ul li.task-status-finished a {
    background-color:GreenYellow;
}

div#workflow-tasks ul li.task-status-waiting a:hover 
{background-color:DarkRed;}

div#workflow-tasks ul li.task-status-running a:hover 
{background-color:DarkCyan;}

div#workflow-tasks ul li.task-status-finished a:hover 
{background-color:Green;}

div#workflow-tasks ul li {
  display:inline;
}


div#workflow-task-inputs ul, 
div#workflow-task-outputs ul {
  float:left;
  width:100%;
  padding:0pt;
  margin:0;
  list-style-type:none;
}

div#workflow-task-inputs a,
div#workflow-task-outputs a
{
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:white;
  background-color:red;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  border-left:1px solid white;
  border-top:1px solid white;
  border-bottom:0px solid white;
  margin: 0px;
}



div#workflow-task-inputs ul li, 
div#workflow-task-outputs ul li {
  display:inline;
}


div#workflow-task-inputs ul li.data-status-ready a,
div#workflow-task-outputs ul li.data-status-ready a {
    background-color: GreenYellow;
}

div#workflow-task-inputs ul li.data-status-ready a:hover,
div#workflow-task-outputs ul li.data-status-ready a:hover
{background-color:Green;}

div#workflow-task-inputs ul li.data-status-not_ready a,
div#workflow-task-outputs ul li.data-status-not_ready a {
    background-color: Red;
}

div#workflow-task-inputs ul li.data-status-not_ready a:hover,
div#workflow-task-outputs ul li.data-status-not_ready a:hover
{background-color:DarkRed;}

div#workflow-task-inputs ul li.list-name {
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:black;
  padding:0.2em 0.6em;
  border-right:1px solid white;
  border-left:1px solid white;
  border-top:1px solid white;
  border-bottom:0px solid white;
  background-color: coral;
  margin: 0px;
}

div#workflow-task-outputs ul li.list-name {
  float:left;
  width:8em;
  height:4em;
  text-decoration:none;
  color:black;
  padding:0.2em 0.6em;
  border-left:1px solid white;
  border-right:1px solid white;
  border-top:1px solid white;
  border-bottom:0px solid white;
  background-color: coral;
  margin: 0px;
}

div#queries {
  width:500px;
  float:right;
}

div#queries ul {
  margin:0;
  list-style-type:none;
}
div#queries ul li {
  float:left;
  padding-right: .4em;
}

div#messages ul {
  margin:0;
  list-style-type:none;
}
div#messages ul li {
  margin-top: .3em;
}

div#messages ul.single li span.message-text {
  font-size:large;
  font-weight:bold;
}

div.message-block {
  border: 1px solid black;
  padding:.5em;
  width:500px;
  margin:auto;
  -moz-border-radius: 25px; 
  border-radius: 25px; 
}

div#messages ul.single li a,
div#messages ul.single li span.single {
  float:left;
  margin-right: .3em;
}

ul.single {
  margin:0;
  list-style-type:none;
}

ul.single a,
ul.single span,
ul.single img
{
  display:block;
}

form.message-post {
  width:600px;
}
form.message-post textarea {
  display:block;
  float:left;
} 
span.message-buttons {
  display:block;
  float:left;
}

fieldset {
  margin-top: 1em;
  -moz-border-radius: 25px; 
  border-radius: 25px; 
  background-color: #CCCC99;
}
fieldset h4 {
  margin:0;
}

form.user-add {
  width:300px;
}

p.input {
  margin-top:0;
  margin-bottom:0;
}
p.input label {
  display:block;
  width:150px;
}
p.input input,
p.input textarea {
  float:left;
  width:200px;
}

span.message-buttons input {
  background-color: #ffffcc;
  -moz-border-radius: 15px; 
  border-radius: 15px; 
}


p.buttons input {
  background-color: #cccc99;
  -moz-border-radius: 15px; 
  border-radius: 15px; 
}
